<!-- 定义导航栏 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <!-- 导航栏商标 -->
        <a class="navbar-brand" href="#">我的博客</a>

        <!-- 导航入口 -->
        <div>
            <ul class="navbar-nav">
                <!-- 返回文章列表 -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'article:article_list' %}">文章</a>
                </li>
                <!-- 登录 -->
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="{% url 'article:article_create' %}" class="dropdown-item">写文章</a>
                            <a href="{% url "userprofile:edit" user.id %}" class="dropdown-item">个人信息</a>
                            <a href="#" onclick="user_delete()" class="dropdown-item">删除用户</a>
                            <a href="{% url "userprofile:logout" %}" class="dropdown-item">退出登录</a>
                        </div>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'userprofile:login' %}" class="nav-link">登录</a>
                    </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>


<!-- 删除用户弹窗 -->
{% if user.is_authenticated %}
<form style="display: none;" id="user_delete" method="POST" action="{% url 'userprofile:delete' user.id %}">
    {% csrf_token %}
    <button type="submit">发送</button>
</form>
    <script>
        function user_delete(){
            // 调用layer弹窗组件
            layer.open({
                title: "确认删除",
                content: "确认删除用户资料吗？",
                yes: function(index,layer){
                    $('form#user_delete button').click();
                    layer.close(index);
                },
            })
        }
    </script>
{% endif %}